.brand-logo {
    margin-left: 20px;
}

.hide-on-med-and-down {
    margin-right: 20px;
}

body {
    scroll-behavior: smooth;
    background-color: #d4f5ff;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    font-weight: bold;
}


/* 
 * TODO: resize images in hero 
 * and change color of captions
 */
.caption {
    color:black;
}

/* Footer */
.copy {
    padding-top: 20px;
    padding-bottom: 20px;
}