.brand-logo {
    margin-left: 20px;
}

.hide-on-med-and-down {
    margin-right: 20px;
}

body {
    scroll-behavior: smooth;
}

/* 
 * TODO: resize images in hero 
 * and change color of captions
 */
.caption {
    color:black;
}