.titlecard {
    font-weight:bold;
    margin-left: 35px;
    color: blue;
}

.tinkercad {
    text-align:left;
    margin-left: 45px;
}

/* Footer */
.copy {
    padding-top: 20px;
    padding-bottom: 20px;
}

.portfolios {
    text-align:left;
    margin-left: 45px;
    margin-bottom: 50px;
}

h2 {
    font-weight:bold;
}

h3 {
    font-weight:bold;
}

body {
    background-color: #d4f5ff;
}

