.titlecard {
    font-weight:bold;
    margin-left: 35px;
    color: blue;
}

.tinkercad {
    text-align:left;
    margin-left: 45px;
}

/* Nav Logo */
.brand-logo {
    margin-left: 20px;
}

a:hover {
    font-weight: bold;
}

/* Footer */
.copy {
    padding-top: 20px;
    padding-bottom: 20px;
}

.portfolios {
    text-align:left;
    margin-left: 45px;
    margin-bottom: 50px;
}

h2 {
    font-weight:bold;
}

h3 {
    font-weight:bold;
}

body {
    background-color: #d4f5ff;
}

img {
    margin-right: 50px;
    margin-left: 20px;
    align-items: right;
}

