.brand-logo {
    margin-left: 20px;
}

.hide-on-med-and-down {
    margin-right: 20px;
}

body {
    scroll-behavior: smooth;
    background-color: #d4f5ff;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h3 {
    font-weight: bold;
}


.row2 {
    text-align:center;
    margin-bottom:50px;
}

a:link {
    color: black;
}

a:hover {
    font-weight: bold;
}

.card-title + p2 {
    font-weight:bold;
}

.special {
    color:black;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* 
 * TODO: resize images in hero 
 * and change color of captions
 */
.caption {
    color:black;
}

/* Footer */
.copy {
    margin-top: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.card {
    color: #a7c7fe;
}