body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  scroll-behavior: smooth;
}

.brand-logo {
    margin-left: 20px;
}

.hide-on-med-and-down {
    margin-right: 20px;
}

a {
    color: #00B7FF;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    font-weight: bold;
}


/* 
 * TODO: resize images in hero 
 * and change color of captions
 */
.caption {
    color:black;
}

/* Footer */
.copy {
    padding-top: 20px;
    padding-bottom: 20px;
}