.about {
    text-align:center;
}
.card-content {
    color: black;
}

.card-action {
    color:black;
}

h3 {
    text-align: center;
}

.videoTech {
    text-align:center;
    margin-top: 45px;
    margin-bottom: 25px;
}

/*
h6 {
    text-align: center;
    font-weight:bold;
}
*/